.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}



.Welcome {
    font-style: italic;

}